<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Edit article</h2>
        </div>
        <div class="card-body">
            <form action="/articles/update" method="POST">
                <input class="form-control" type="text" name="title" placeholder="Define the article title" value="<%= article.title %>">
                <br>
                <input class="form-control" type="text" name="body" placeholder="Write your article here"  id="article" value="<%= article.body %>">
                <br>

                <input type="hidden" name="id" value="<%=article.id %>"> <br>

                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>

<%- include ("../../partials/footer.ejs") %>

<script>
    tinymce.init({
        selector: "#article",
        plugins:
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    });
</script>