<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs") %>

<body>
    <div class="container mt-2 ">
        <hr>
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">This is a simple blog that I built</p>
        </div>
        <hr class="my-2">
        <div class="container mb-4 text-center">
            <div class="row">
                <div class="col-sm">
                    <p>Register now and start today!</p>
                    <a class="btn btn-success" href="/users/create">Register</a>
                </div>

                <div class="col-sm">
                    <p>Login now and create your world</p>
                    <a class="btn btn-success" href="/login">Login</a>
                </div>
            </div>
        </div>
        <hr class="my-2">
        
        <% articles.forEach(article => {%>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug%>" class="btn btn-success">Read</a>
                </div>
            </div>
            <br>
        <% }) %>

        <a type="button" style="float:right" class="btn btn-dark" href="/articles/page/1">
            Next >>
        </a>


    </div>

</body>

<%- include ("partials/footer.ejs") %>